# Ridesharing Demo

This notebooks provides the required SingleStore setup for a sample ridesharing application. It consists of the following parts:
1. Ingesting historic trip information from a Snowflake Iceberg table stored on S3
2. Creating Kafka pipelines to stream real-time trip information + rider/driver locations
3. Some sample queries featuring trend analysis on the trip data

For more information on running this demo, check out https://github.com/singlestore-labs/demo-ridesharing-sim.

In [364]:
%%sql
DROP DATABASE IF EXISTS rideshare_demo;
CREATE DATABASE rideshare_demo;
USE rideshare_demo;

++
||
++
++

Drop all existing pipelines if recreating tables.

In [365]:
%%sql
DROP PIPELINE IF EXISTS rideshare_ice_trips;
DROP PIPELINE IF EXISTS rideshare_kafka_trips;
DROP PIPELINE IF EXISTS rideshare_kafka_riders;
DROP PIPELINE IF EXISTS rideshare_kafka_drivers;

++
||
++
++

Create the trips table.

In [366]:
%%sql
DROP TABLE IF EXISTS trips;
CREATE TABLE trips (
    id VARCHAR(255) NOT NULL,
    driver_id VARCHAR(255),
    rider_id VARCHAR(255),
    status VARCHAR(20),
    request_time DATETIME(6),
    accept_time DATETIME(6),
    pickup_time DATETIME(6),
    dropoff_time DATETIME(6),
    fare INT NOT NULL,
    distance DOUBLE NOT NULL,
    pickup_lat DOUBLE NOT NULL,
    pickup_long DOUBLE NOT NULL,
    dropoff_lat DOUBLE NOT NULL,
    dropoff_long DOUBLE NOT NULL,
    city VARCHAR(255) NOT NULL,
    PRIMARY KEY (id)
);

++
||
++
++

Setup a pipeline to ingest trip data from an iceberg catalog. This assumes that the catalog is a Snowflake catalog stored on S3.

In [367]:
%config SqlMagic.named_parameters=True

In [368]:
%%sql
SET GLOBAL enable_iceberg_ingest = ON;
SET GLOBAL pipelines_extractor_get_offsets_timeout_ms = 90000;

CREATE OR REPLACE PIPELINE rideshare_ice_trips AS
LOAD DATA S3 ''
CONFIG '{"region" : "us-west-2",
        "catalog_type": "SNOWFLAKE",
        "table_id": "RIDESHARE_DEMO.public.trips_ice",
        "catalog.uri": "jdbc:snowflake://tpb44528.snowflakecomputing.com",
        "catalog.jdbc.user":"BHARAT",
        "catalog.jdbc.password":"Balmy-Sank-Playoff0",
        "catalog.jdbc.role":"ACCOUNTADMIN"}'
CREDENTIALS '{"aws_access_key_id" : "AKIA6GBMFJNP3MMMNJWE",
             "aws_secret_access_key": "qk68cm0I2xcbaXrdfN17kZ9xumogvqjd+Q917BN1"
}'
REPLACE INTO TABLE trips (
    id <- ID,
    driver_id <- DRIVER_ID,
    rider_id <- RIDER_ID,
    status <- STATUS,
    @request_time <- REQUEST_TIME,
    @accept_time <- ACCEPT_TIME,
    @pickup_time <- PICKUP_TIME,
    @dropoff_time <- DROPOFF_TIME,
    fare <- FARE,
    distance <- DISTANCE,
    pickup_lat <- PICKUP_LAT,
    pickup_long <- PICKUP_LONG,
    dropoff_lat <- DROPOFF_LAT,
    dropoff_long <- DROPOFF_LONG,
    city <- CITY
)
FORMAT ICEBERG
SET request_time = FROM_UNIXTIME(@request_time/1000000),
    accept_time = FROM_UNIXTIME(@accept_time/1000000),
    pickup_time = FROM_UNIXTIME(@pickup_time/1000000),
    dropoff_time = FROM_UNIXTIME(@dropoff_time/1000000);

++
||
++
++

In [369]:
%%sql
START PIPELINE rideshare_ice_trips FOREGROUND;

++
||
++
++

Create a kafka pipeline to ingest trip data in real-time. Consumes the `ridesharing-sim-trips` topic and upserts into the trips table.

In [370]:
%%sql
DROP PIPELINE IF EXISTS rideshare_kafka_trips;
CREATE OR REPLACE PIPELINE rideshare_kafka_trips AS
    LOAD DATA KAFKA 'cqrik6h4mu94dmoo2370.any.us-east-1.mpx.prd.cloud.redpanda.com:9092/ridesharing-sim-trips'
    CONFIG '{"sasl.username": "ingest",
         "sasl.mechanism": "SCRAM-SHA-256",
         "security.protocol": "SASL_SSL",
         "ssl.ca.location": "/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem"}'
    CREDENTIALS '{"sasl.password": "ingest"}'
    DISABLE OUT_OF_ORDER OPTIMIZATION
    REPLACE INTO TABLE trips
    FORMAT JSON
    (
        id <- id,
        rider_id <- rider_id,
        driver_id <- driver_id,
        status <- status,
        @request_time <- request_time,
        @accept_time <- accept_time,
        @pickup_time <- pickup_time,
        @dropoff_time <- dropoff_time,
        fare <- fare,
        distance <- distance,
        pickup_lat <- pickup_lat,
        pickup_long <- pickup_long,
        dropoff_lat <- dropoff_lat,
        dropoff_long <- dropoff_long,
        city <- city
    )
    SET request_time = STR_TO_DATE(@request_time, '%Y-%m-%dT%H:%i:%s.%f'),
        accept_time = STR_TO_DATE(@accept_time, '%Y-%m-%dT%H:%i:%s.%f'),
        pickup_time = STR_TO_DATE(@pickup_time, '%Y-%m-%dT%H:%i:%s.%f'),
        dropoff_time = STR_TO_DATE(@dropoff_time, '%Y-%m-%dT%H:%i:%s.%f');

++
||
++
++

In [371]:
%%sql
START PIPELINE rideshare_kafka_trips;

++
||
++
++

Create a riders table and kafka pipeline that consumes the `ridesharing-sim-riders` topic and upserts data.

In [372]:
%%sql
DROP TABLE IF EXISTS riders;
CREATE TABLE riders (
    id VARCHAR(255) NOT NULL,
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    email VARCHAR(255),
    phone_number VARCHAR(255),
    date_of_birth DATETIME(6),
    created_at DATETIME(6),
    location_city VARCHAR(255),
    location_lat DOUBLE,
    location_long DOUBLE,
    status VARCHAR(20),
    PRIMARY KEY (id)
);

++
||
++
++

In [373]:
%%sql
DROP PIPELINE IF EXISTS rideshare_kafka_riders;
CREATE OR REPLACE PIPELINE rideshare_kafka_riders AS
    LOAD DATA KAFKA 'cqrik6h4mu94dmoo2370.any.us-east-1.mpx.prd.cloud.redpanda.com:9092/ridesharing-sim-riders'
    CONFIG '{"sasl.username": "ingest",
         "sasl.mechanism": "SCRAM-SHA-256",
         "security.protocol": "SASL_SSL",
         "ssl.ca.location": "/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem"}'
    CREDENTIALS '{"sasl.password": "ingest"}'
    DISABLE OUT_OF_ORDER OPTIMIZATION
    REPLACE INTO TABLE riders
    FORMAT JSON
    (
        id <- id,
        first_name <- first_name,
        last_name <- last_name,
        email <- email,
        phone_number <- phone_number,
        @date_of_birth <- date_of_birth,
        @created_at <- created_at,
        location_city <- location_city,
        location_lat <- location_lat,
        location_long <- location_long,
        status <- status
    )
    SET date_of_birth = STR_TO_DATE(@date_of_birth, '%Y-%m-%dT%H:%i:%s.%f'),
        created_at = STR_TO_DATE(@created_at, '%Y-%m-%dT%H:%i:%s.%f');

++
||
++
++

In [374]:
%%sql
START PIPELINE rideshare_kafka_riders;

++
||
++
++

Create a drivers table and kafka pipeline that consumes the `ridesharing-sim-drivers` topic and upserts data.

In [375]:
%%sql
DROP TABLE IF EXISTS drivers;
CREATE TABLE drivers (
    id VARCHAR(255) NOT NULL,
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    email VARCHAR(255),
    phone_number VARCHAR(255),
    date_of_birth DATETIME(6),
    created_at DATETIME(6),
    location_city VARCHAR(255),
    location_lat DOUBLE,
    location_long DOUBLE,
    status VARCHAR(20),
    PRIMARY KEY (id)
);

++
||
++
++

In [376]:
%%sql
DROP PIPELINE IF EXISTS rideshare_kafka_drivers;
CREATE OR REPLACE PIPELINE rideshare_kafka_drivers AS
    LOAD DATA KAFKA 'cqrik6h4mu94dmoo2370.any.us-east-1.mpx.prd.cloud.redpanda.com:9092/ridesharing-sim-drivers'
    CONFIG '{"sasl.username": "ingest",
         "sasl.mechanism": "SCRAM-SHA-256",
         "security.protocol": "SASL_SSL",
         "ssl.ca.location": "/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem"}'
    CREDENTIALS '{"sasl.password": "ingest"}'
    DISABLE OUT_OF_ORDER OPTIMIZATION
    REPLACE INTO TABLE drivers
    FORMAT JSON
    (
        id <- id,
        first_name <- first_name,
        last_name <- last_name,
        email <- email,
        phone_number <- phone_number,
        @date_of_birth <- date_of_birth,
        @created_at <- created_at,
        location_city <- location_city,
        location_lat <- location_lat,
        location_long <- location_long,
        status <- status
    )
    SET date_of_birth = STR_TO_DATE(@date_of_birth, '%Y-%m-%dT%H:%i:%s.%f'),
        created_at = STR_TO_DATE(@created_at, '%Y-%m-%dT%H:%i:%s.%f');

++
||
++
++

In [377]:
%%sql
START PIPELINE rideshare_kafka_drivers;

++
||
++
++

Debug query to see the current number of trips, riders, and drivers grouped by their status.

In [438]:
%%sql
SELECT 'trips' as entity, status, COUNT(*) as count
    FROM trips
    GROUP BY status
    UNION ALL
    SELECT 'riders' as entity, status, COUNT(*) as count
    FROM riders
    GROUP BY status
    UNION ALL
    SELECT 'drivers' as entity, status, COUNT(*) as count
    FROM drivers
    GROUP BY status
    ORDER BY entity, status;

+---------+-------------+--------+
|  entity |    status   | count  |
+---------+-------------+--------+
|  trips  |  requested  |   2    |
|  trips  |   en_route  |  134   |
|  trips  |  completed  | 138478 |
|  trips  |   accepted  |  171   |
|  riders |     idle    |   24   |
|  riders |   waiting   |  172   |
|  riders | in_progress |  134   |
| drivers |  available  |   78   |
| drivers | in_progress |  302   |
+---------+-------------+--------+

Cleanup query to remove any orphaned trips and reset the riders and drivers tables. Run before restarting the simulator.

In [493]:
%%sql
DELETE FROM trips WHERE status != 'completed';
DELETE FROM riders;
DELETE FROM drivers;

++
||
++
++

# Queries

Last completed trip.

In [413]:
%%sql
SELECT * FROM trips WHERE status = 'completed' ORDER BY dropoff_time DESC LIMIT 1;

+--------------------------------------+--------------------------------------+--------------------------------------+-----------+----------------------------+----------------------------+----------------------------+----------------------------+------+-------------------+--------------------+---------------------+-------------------+---------------------+----------+
|                  id                  |              driver_id               |               rider_id               |   status  |        request_time        |        accept_time         |        pickup_time         |        dropoff_time        | fare |      distance     |     pickup_lat     |     pickup_long     |    dropoff_lat    |     dropoff_long    |   city   |
+--------------------------------------+--------------------------------------+--------------------------------------+-----------+----------------------------+----------------------------+----------------------------+----------------------------+------+-------------------+--------------------+---------------------+-------------------+---------------------+----------+
| 1e0842f3-1d17-4cc5-8f7e-c194d852bc62 | 670ce3d4-b268-487e-b59d-3d083c69be8a | 3d4f05a2-1504-4e9c-8362-d3511ab668bf | completed | 2024-08-12 19:51:27.402742 | 2024-08-12 19:51:27.407668 | 2024-08-12 19:52:52.388328 | 2024-08-12 19:54:29.354375 |  0   | 9331.413185942994 | 37.279288502916444 | -121.83962052820434 | 37.36284620931016 | -121.84940760986143 | San Jose |
+--------------------------------------+--------------------------------------+--------------------------------------+-----------+----------------------------+----------------------------+----------------------------+----------------------------+------+-------------------+--------------------+---------------------+-------------------+---------------------+----------+

Completed trip debug, including earliest trip, latest trip, total number of trips, and time since last trip.

In [381]:
%%sql
SELECT
    MIN(request_time) AS earliest_trip,
    MAX(request_time) AS latest_trip,
    COUNT(*) AS total_trips,
    NOW() AS 'current_time',
    TIMEDIFF(NOW(), MAX(request_time)) AS time_since_last_trip
FROM
    trips
WHERE 
    city = 'San Francisco'
    AND status = 'completed'
    AND request_time >= DATE_SUB(NOW(), INTERVAL 24 HOUR);

+----------------------------+----------------------------+-------------+---------------------+----------------------+
|       earliest_trip        |        latest_trip         | total_trips |     current_time    | time_since_last_trip |
+----------------------------+----------------------------+-------------+---------------------+----------------------+
| 2024-08-11 20:21:37.416410 | 2024-08-12 18:57:23.045617 |    82465    | 2024-08-12 19:30:40 |    0:33:16.954383    |
+----------------------------+----------------------------+-------------+---------------------+----------------------+

Minute by minute ride request breakdown in a given city, with percent_change for the last hour.

In [382]:
%%sql
WITH minute_counts AS (
    SELECT 
        DATE_FORMAT(request_time, '%Y-%m-%d %H:%i:00') AS minute_interval,
        COUNT(*) AS trip_count
    FROM 
        trips
    WHERE 
        city = 'San Francisco'
        AND request_time >= DATE_SUB(NOW(), INTERVAL 1 HOUR)
    GROUP BY 
        minute_interval
)
SELECT 
    c.minute_interval,
    c.trip_count,
    COALESCE(
        ROUND(
            (c.trip_count - LAG(c.trip_count) OVER (ORDER BY c.minute_interval)) / 
            NULLIF(LAG(c.trip_count) OVER (ORDER BY c.minute_interval), 0) * 100,
            2
        ),
        0
    ) AS percent_change
FROM 
    minute_counts c
ORDER BY 
    c.minute_interval;

+---------------------+------------+----------------+
|   minute_interval   | trip_count | percent_change |
+---------------------+------------+----------------+
| 2024-08-12 18:34:00 |     34     |      0.00      |
| 2024-08-12 18:35:00 |    111     |     226.47     |
| 2024-08-12 18:36:00 |    111     |      0.00      |
| 2024-08-12 18:37:00 |     86     |     -22.52     |
| 2024-08-12 18:38:00 |     86     |      0.00      |
| 2024-08-12 18:39:00 |    118     |     37.21      |
| 2024-08-12 18:40:00 |    112     |     -5.08      |
| 2024-08-12 18:41:00 |    129     |     15.18      |
| 2024-08-12 18:42:00 |    121     |     -6.20      |
| 2024-08-12 18:43:00 |    118     |     -2.48      |
| 2024-08-12 18:44:00 |    115     |     -2.54      |
| 2024-08-12 18:45:00 |    120     |      4.35      |
| 2024-08-12 18:46:00 |    113     |     -5.83      |
| 2024-08-12 18:47:00 |    123     |      8.85      |
| 2024-08-12 18:48:00 |    100     |     -18.70     |
| 2024-08-12 18:49:00 |    124     |     24.00      |
| 2024-08-12 18:50:00 |    106     |     -14.52     |
| 2024-08-12 18:51:00 |    109     |      2.83      |
| 2024-08-12 18:52:00 |    119     |      9.17      |
| 2024-08-12 18:53:00 |    117     |     -1.68      |
| 2024-08-12 18:54:00 |    115     |     -1.71      |
| 2024-08-12 18:55:00 |     89     |     -22.61     |
| 2024-08-12 18:56:00 |     47     |     -47.19     |
| 2024-08-12 18:57:00 |     6      |     -87.23     |
+---------------------+------------+----------------+

Hourly ride request breakdown in a given city, with percent_change for the last 24 hours.

In [383]:
%%sql
WITH hourly_counts AS (
    SELECT 
        DATE_FORMAT(request_time, '%Y-%m-%d %H:00:00') AS hourly_interval,
        COUNT(*) AS trip_count
    FROM 
        trips
    WHERE 
        city = 'San Francisco'
        AND request_time >= NOW() - INTERVAL 24 HOUR
    GROUP BY 
        hourly_interval
)
SELECT 
    c.hourly_interval,
    c.trip_count,
    COALESCE(
        ROUND(
            (c.trip_count - LAG(c.trip_count) OVER (ORDER BY c.hourly_interval)) / 
            LAG(c.trip_count) OVER (ORDER BY c.hourly_interval) * 100,
            2
        ),
        0
    ) AS percent_change
FROM 
    hourly_counts c
ORDER BY 
    c.hourly_interval;

+---------------------+------------+----------------+
|   hourly_interval   | trip_count | percent_change |
+---------------------+------------+----------------+
| 2024-08-11 20:00:00 |    3319    |      0.00      |
| 2024-08-11 21:00:00 |    5075    |     52.91      |
| 2024-08-11 22:00:00 |    4593    |     -9.50      |
| 2024-08-11 23:00:00 |    4827    |      5.09      |
| 2024-08-12 00:00:00 |    8113    |     68.08      |
| 2024-08-12 01:00:00 |    9267    |     14.22      |
| 2024-08-12 02:00:00 |    9180    |     -0.94      |
| 2024-08-12 03:00:00 |    9188    |      0.09      |
| 2024-08-12 04:00:00 |    9211    |      0.25      |
| 2024-08-12 05:00:00 |    8214    |     -10.82     |
| 2024-08-12 16:00:00 |    4799    |     -41.58     |
| 2024-08-12 17:00:00 |    4250    |     -11.44     |
| 2024-08-12 18:00:00 |    2429    |     -42.85     |
+---------------------+------------+----------------+

Daily ride request breakdown in a given city, with percent_change for the last 7 days.

In [384]:
%%sql
WITH daily_counts AS (
    SELECT 
        DATE(request_time) AS daily_interval,
        COUNT(*) AS trip_count
    FROM 
        trips
    WHERE 
        city = 'San Francisco'
        AND request_time >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)
    GROUP BY 
        daily_interval
)
SELECT 
    c.daily_interval,
    c.trip_count,
    COALESCE(
        ROUND(
            (c.trip_count - LAG(c.trip_count) OVER (ORDER BY c.daily_interval)) / 
            LAG(c.trip_count) OVER (ORDER BY c.daily_interval) * 100,
            2
        ),
        0
    ) AS percent_change
FROM 
    daily_counts c
ORDER BY 
    c.daily_interval;

+----------------+------------+----------------+
| daily_interval | trip_count | percent_change |
+----------------+------------+----------------+
|   2024-08-10   |   18532    |      0.00      |
|   2024-08-11   |   20820    |     12.35      |
|   2024-08-12   |   64651    |     210.52     |
+----------------+------------+----------------+